{% extends 'base.html' %}

{% block styles %}
    {% load static %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %} Map of Cities {% endblock %}

{% block content %}

      <div class="container mt-4">
        <h2>Carte interactive des villes</h2>
        <div id="map" style="height: 500px;"></div>
        <div id="city-info" class="mt-3"></div>
      </div>


{% endblock %}

{% block scripts %}
    <!-- MapLibre -->
    <link href="https://unpkg.com/maplibre-gl@3.5.2/dist/maplibre-gl.css" rel="stylesheet" />
    <script src="https://unpkg.com/maplibre-gl@3.5.2/dist/maplibre-gl.js"></script>
    <script src="{% static 'js/cityMaplibre.js' %}"></script>
{% endblock %}