{% extends 'base.html' %}

{% block styles %}
    {% load static %}
{% load crispy_forms_tags %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %} Rest API {% endblock %}

{% block content %}
    <h1>Rest API</h1>
    <p>Welcome to the Rest API documentation.</p>

    <h2>Available Endpoints</h2>
    <ul>
        <li><a href="{% url 'RestApi:team' %}">Team List</a></li>
    </ul>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}
